# =============================
# Email config

# For development with MailHog (local SMTP)
# For development with Console Backend
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
EMAIL_HOST = 'localhost'
EMAIL_PORT = 8025
EMAIL_USE_TLS = False
EMAIL_USE_SSL = False
# EMAIL_HOST_USER = ''
# EMAIL_HOST_PASSWORD = ''
EMAIL_FROM_ADDRESS = 'info@bmtc.ac.ke'

# # For production with mailtrap 
# EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# EMAIL_HOST = "live.smtp.mailtrap.io"
# EMAIL_PORT = 587
# EMAIL_USE_TLS = True
# EMAIL_HOST_USER = "api"
# EMAIL_HOST_PASSWORD = "9a726cbd88729a6c7e52137e38a1158a"
# # AUTH = PLAIN
# # STARTTLS = Required
# EMAIL_FROM_ADDRESS = "admissions@bmtc.ac.ke"


# Remove/comment these lines (not needed for MailHog):
# EMAIL_HOST_USER = "<youremail@example.com>"
# EMAIL_HOST_PASSWORD = "xmia xafz pbmh qucc"

# =============================
# Other
DEBUG = True
SECRET_KEY = "<your_secret_key>"
# RECAPTCHA_PUBLIC_KEY = 6LfwniIrAAAAAGzCGOTeKJNNb8lvtchOd6x93fN7
# RECAPTCHA_PRIVATE_KEY = 6LfwniIrAAAAAKl5jn1Hje_Fwr0IHVHAjCvi1Ee9